$primary-color: #e67300;
$black: #333;

#calc-container {
    width: 350px;
    height: 500px;
    background: $primary-color;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    font-weight: bold !important;

    @media (max-width: 350px) {
        width: 100%;
    }
}
