.app {
  text-align: center;
}

.app-header {
    background-color: #b3b3b3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-header > h1{
    margin: 4rem 0;
}
