#output {
    caret-color: auto;
    font-size: 12px;
    position: relative;
    width: 90%;
    height: 10%;
    background: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 25% auto 0;
    overflow: auto hidden;
    white-space: nowrap;

    @media (max-width: 350px) {
        margin: 25% auto 0;
    }
}

#output-value-space {
    position: absolute;
    left: 4px;
    font-size: 42px;
    color: #333;
    height: 50px;

    &::after {
        content: '|';
        color: #333;
        position: absolute;
        bottom: -1px;
        animation-name: blink;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
    }
}

.eval {
    &::after {
        content: '' !important;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }

    49.9% {
      opacity: 1;
    }
    50% {
    opacity: 0;
    }

    99.9% {
      opacity: 0;
    }

    to {
        opacity: 1;
    }
}
