#output-container {
    position: relative;

    #output {
        // width: 200px;
    }

    #caret {
        position: absolute;
        top: 4px;
        color: #333;
        animation-name: blink;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
    }

    @keyframes blink {
        from {
            opacity: 1;
        }

        49.9% {
          opacity: 1;
        }
        50% {
        opacity: 0;
        }

        99.9% {
          opacity: 0;
        }

        to {
        opacity: 1;
        }
    }
}
